/* Colorblind Switcher */
.colorblind-switcher {
  position: absolute;
  top: 25px;
  left: 150px;
  z-index: 9999;
  cursor: pointer;
}

.colorblind-switcher i {
  font-size: 24px;
  transition: color 0.3s ease;
}

.colorblind-mode-normal .colorblind-switcher i {
  color: orange;
}

.colorblind-mode-protanopia .colorblind-switcher i {
  color: #00BFFF;
}

.colorblind-mode-deuteranopia .colorblind-switcher i {
  color: #b23341;
}

.colorblind-mode-tritanopia .colorblind-switcher i {
  color: #d7a72e;
}

/* GitHub Button */
.github-button {
  position: absolute;
  top: 18px;
  right: 150px;
  z-index: 9999;
  cursor: pointer;
  font-size: 24px;
  text-decoration: none;
  color: white; /* Set the button color to white */
  transition: background-color 0.3s ease; /* Transition background color */
}

.github-button:hover {
  background-color: var(--secondary-color); /* default hover color */
}

.github-button:hover {
  background-color: var(--secondary-color); /* default hover color */
}

/* Typography */
body {
  font-family: "Century Gothic", sans-serif;
  font-size: 17px;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

h1 {
  font-size: 3em;
  margin: 0;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  margin: 1em 0;
}

/* Header */
header {
  background-color: var(--primary-color);
  color: white;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: var(--secondary-color);
  padding: 0em 1em 0em .5em;
  border-radius: 5px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  list-style: none;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}


/* Landing page */
.landing {
  background-color: var(--secondary-color);
  color: white;
  padding: 3em;
  text-align: center;
}

.landing h1 {
  margin-top: 0;
  font-size: 3em;
}

.landing p {
  max-width: auto;
  margin: 1em auto;
  font-size: 14px;
  line-height: 1.6em;
}

.landing .image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.landing .image-item {
  flex: 0 0 30%;
  margin: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.landing .image-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid #8b2222;
  box-shadow: 0 9px 16px rgba(0, 0, 0, .8);
}

.landing .image-item img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.landing .image-item p {
  margin: 0;
}

/* About me page */
.about {
  background-color: var(--secondary-color);
  color: white;
  padding: 3em;
  text-align: center;
}

.about h1 {
  margin-top: 0;
  font-size: 3em;
}

.about p {
  max-width: auto;
  margin: 1em auto;
  font-size: 14px;
  line-height: 1.6em;
}

.about .image-container {
  float: left;
  margin-right: 1em;
  width: 30%;
  max-width: 300px;
  height: auto;
  position: relative;
}

.about .image-item {
  width: auto;
  max-width: 100%;
  position: relative; /* Add position property */
}

.about .image-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2px;
  border: 4px solid #8b2222;
  box-shadow: 0 9px 16px rgba(0, 0, 0, .8);
  z-index: 0; /* Add z-index property */
}

.about .image-item img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.about .image-item p {
  margin: 0;
}

.about .biography {
  margin: 3px;
  padding: 1px;
}

.about .biography p {
  font-size: 18px;
  line-height: 1.5;
  color: white;
  width: 100%;
  margin: 4;
  max-width: none;
}

.biography .highlight {
  color: #EFED21;
}

/* Hobbies page */
.hobbies {
  background-color: var(--secondary-color);
  color: white;
  padding: 3em;
  text-align: center;
}

.hobbies h1 {
  margin-top: 0;
  font-size: 3em;
}

.hobbies p {
  max-width: auto;
  margin: 1em auto;
  font-size: 14px;
  line-height: 1.6em;
}

.hobbies .image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hobbies .image-item {
  flex: 0 0 30%;
  margin: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 30%;
}

.hobbies .image-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid #8b2222;
  box-shadow: 0 9px 16px rgba(0, 0, 0, .8);
}

.hobbies .image-item img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hobbies .image-item p {
  margin: 0;
}

/* Footer */
footer {
  background-color: var(--primary-color);
  color: black;
  padding: 1em;
  text-align: center;
}

footer p {
  margin: 0;
}

footer a {
  color: #9999cc;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

footer li {
  margin: 0 1em;
}

footer img {
  height: 1.5em;
}
